* {
	background: #ADD8E6;
	font-family: "Helvetica", sans-serif;
	text-decoration: none;
}

.index-header {
	margin-left: 100px;
}

.hidden {
	visibility: hidden;
}

.container {
	width: 200px;
	height: 100px;
	padding: 50px;
	background-color: white;
	margin: left 200px;
}

.display-card {
	width: 250px;
	height: 125px;
	padding:25px;
	border: 1px solid #3a99a8;
	background-color: #35ea99;
}
