html {
	background: #8db3ef;
	font-family: "Helvetica", sans-serif;
	text-decoration: none;
}

.h2{
	color:transparent;
	text-decoration: none;
}

.index-header {
	margin-left: 100px;
}

.hidden {
	visibility: hidden;
}

.body {
	margin-left: 200px;
	margin-top: 100px;
}

.container {
	width: 300px;
	height: 200px;
	padding: 50px;
	background-color: #8fe8be;
	margin: auto;
}	

.p {
	width: auto;
	margin: auto;
}
.display-card-question {
	width: 70%;
	height: 100px;
	padding:25px;
	border: 1px solid #3a99a8;
	background-color: #35ea99;
	color: #1e30d8;
}

.display-card-answer {
	width: 70%;
	height: 100px;
	padding:25px;
	border: 1px solid #3a99a8;
	background-color: #35ea99;
	color: #1e30d8;
	text-decoration: none;
}

.end-card {
	width: 150px;
	height: 75px;
	padding:25px;
	border: 1px solid #3a99a8;
	background-color: #35ea99;
	color: #black
}

#start-button {
	background-color: white;
	border-radius: 4px;
	padding: 10px;
	margin: auto;
}

#answer-button {
	position: relative;
	top: 20px;
	left: 20px;
}

#next-card {
	position: relative;
	top: 20px;
	left: 20px;
}
#start-over {
	position: relative;
	top: 20px;
	left: 20px;
}

